<%= turbo_frame_tag "form-section", class: "w-full" do %>
  <div class="my-10">
    Thank you, <%= notice %>, for filling out our form!  You will receive an email with more info.  We'll get in touch with you soon.
  </div>
<% end %>