<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing accel cfi</h1>

  <%= render "form", accel_cfi: @accel_cfi %>

  <%= link_to "Show this accel cfi", @accel_cfi, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to accel cfis", accel_cfis_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
