<section class="w-full h-screen bg-archbg bg-cover bg-[center_right_-15rem] lg:bg-center flex justify-center items-center">
  <div class="flex flex-col justify-center items-center drop-shadow-2xl transform-gpu" x-data>
      <h2 class="w-4/5 font-bold text-3xl sm:text-5xl lg:text-7xl">Visit the <span class="text-ideal-blue">St. Louis Gateway Arch</span> a thousand feet in the air.</h2>
      <p class="w-4/5 py-5 lg:py-10 text-xl lg:text-2xl font-semibold">Looking to soar above the St. Louis skyline? Ideal Aviation offers top notch aircraft rentals and expert instruction for aspiring pilots of all levels. Whether you're a seasoned pro or just starting out, our modern and well maintained fleet will have you flying high in no time. Don't just take our word for it. Join the ranks of happy pilots who swear by Ideal Aviation!  </p>
      <div class="opacity-0 duration-[1500ms] translate-y-24 text-center w-full flex flex-col items-start" x-intersect="$el.classList.add('opacity-100', 'translate-y-1', 'z-0')">
        <%=link_to rental_checkout_path, class: "mx-auto" do%>
          <div class="btn-primary text-xl lg:text-3xl">
            GET CHECKED OUT TODAY
          </div>
        <% end %>
      </div>
  </div>
</section>