
<footer class="bg-white">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0 flex lg:flex-row gap-10">
        <div class="text-gray-600">
          <div class="font-semibold pb-5">Falcon Field</div>
          4855 E Falcon Dr<br>
          Mesa, AZ 85215<br>
          <a href="tel:1-123-123-1231">1-123-123-1231</a><br>
        </div>
        <div class="text-gray-600">
          <div class="font-semibold pb-5">Spanish Fork</div>
          2050 N. 300 W<br>
          Spanish Fork, UT 84660<br>
          <a href="tel:1-123-123-1231">1-123-123-1231</a><br>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <%= render "shared/bottom_footer"%>
  </div>
</footer>