<nav class="flex flex-row-reverse justify-center lg:justify-between items-center bg-gradient-to-l from-custom-800 to-cyan-700 font-semibold text-slate-50 py-2 px-6">
  <div class="flex-row gap-8 hidden lg:flex" >
    <%= link_to "ENROLL TODAY", root_path, class: "hover:scale-105 border-4 border-white px-2 py-1 transition duration-300"%>
    <%= link_to "DISCOVERY FLIGHT", discovery_flight_path, class: "hover:scale-105 border-4 border-white px-2 py-1 transition duration-300"%>
    
  </div>
  <div class="text-2xl">
    <%= link_to "(480) 256-8355", "tel:1-480-256-8355" %>
  </div>
</nav>