<section class="bg-gradient-to-r from-slate-300 to-slate-200 md:px-16">
  <h2 class="text-3xl font-semibold py-10 font-sans text-center px-5">Pilot Training Courses</h2>

  <div class="flex flex-col items-center">
    <p class="lg:w-1/2 lg:mx-16 mx-5 items-center p-text mb-10">
      At Ideal Aviation, we are committed to providing the highest quality training programs for our students. Our experienced instructors, state-of-the-art facilities, and modern training aircraft ensure that you receive the best possible training. Contact us today to learn more about our advanced training programs and take the first step towards achieving your aviation career goals!
    </p>
  </div>

  <div class="min-h-screen flex items-center justify-center">
    <div class="flex flex-col md:grid grid-cols-9 mx-auto p-2">
      <div class="flex flex-row-reverse md:contents">
        <div class="w-full col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto bg-ideal-blue">
          <h3 class="font-semibold text-xl mb-1 text-white">Private Pilot Certificate</h3>
          <p class="text-slate-200 p-text pb-5">A private pilot certificate is the place to start for those who have always dreamt of flying their own aircraft. This certificate allows you to operate an aircraft for non-commercial purposes.  Our expert instructors will guide you through the fundamentals of flight, teaching you how to take off, land, and navigate the skies with confidence.</p>
          <%#= link_to "PRIVATE PILOT TRAINING", private_pilot_path, class: "btn-primary bg-slate-500 hover:bg-slate-400 text-base" %>
        </div>

        <div class="col-start-5 col-end-6 md:mx-auto hidden md:block relative mr-10">
          <div class="h-full w-6 flex items-center justify-center">
            <div class="h-full w-0.5 bg-ideal-blue pointer-events-none"></div>
          </div>

          <div class="w-6 h-6 absolute top-1/2 -mt-3 border-2 border-ideal-blue rounded-full bg-ideal-blue shadow"></div>
        </div>
      </div>

      <div class="flex md:contents">
        <div class="col-start-5 col-end-6 mr-10 md:mx-auto hidden md:block relative">
          <div class="h-full w-6 flex items-center justify-center">
            <div class="h-full w-0.5 bg-ideal-blue pointer-events-none"></div>
          </div>

          <div class="w-6 h-6 absolute top-1/2 -mt-3 border-2 border-ideal-blue rounded-full bg-ideal-blue shadow"></div>
        </div>

        <div class="w-full col-start-6 col-end-10 my-4 mr-auto p-4 bg-ideal-blue rounded-xl">
          <h3 class="font-semibold text-xl mb-1 text-white">Instrument Rating</h3>
          <p class="text-slate-200 p-text pb-5">Take your flying to the next level. An Instrument Rating equips you with the knowledge and skills to fly in low visibility and adverse weather conditions using only your aircraft's instruments. This rating opens up a whole new world of possibilities, making you a safer and more proficient pilot.</p>
          <%#= link_to "INSTRUMENT TRAINING", root_path, class: "btn-primary bg-slate-500 hover:bg-slate-400 text-base" %>
        </div>
      </div>

      <div class="flex flex-row-reverse md:contents">
        <div class="w-full col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto bg-ideal-blue">
          <h3 class="font-semibold text-xl mb-1 text-white">Commercial Pilot Certificate</h3>
          <p class="text-slate-200 p-text pb-5">A commercial certificate allows you to fly for compensation or hire.  Our experienced instructors will help you master the skills needed to operate advanced aircraft, including advanced maneuvers and emergency procedures, ensuring that you are fully equipped for the challenges that lie ahead.</p>
          <%#= link_to "COMMERCIAL TRAINING", root_path, class: "btn-primary bg-slate-500 hover:bg-slate-400 text-base" %>
        </div>

        <div class="col-start-5 col-end-6 md:mx-auto hidden md:block relative mr-10">
          <div class="h-full w-6 flex items-center justify-center">
            <div class="h-full w-0.5 bg-ideal-blue pointer-events-none"></div>
          </div>

          <div class="w-6 h-6 absolute top-1/2 -mt-3 border-2 border-ideal-blue rounded-full bg-ideal-blue shadow"></div>
        </div>
      </div>

      <div class="flex md:contents">
        <div class="col-start-5 col-end-6 mr-10 md:mx-auto hidden md:block relative">
          <div class="h-full w-6 flex items-center justify-center">
            <div class="h-full w-0.5 bg-ideal-blue pointer-events-none"></div>
          </div>

          <div class="w-6 h-6 absolute top-1/2 -mt-3 border-2 border-ideal-blue rounded-full bg-ideal-blue shadow"></div>
        </div>

        <div class="w-full col-start-6 col-end-10 my-4 mr-auto p-4 bg-ideal-blue rounded-xl">
          <h3 class="font-semibold text-xl mb-1 text-white">Multi-Engine</h3>
          <p class="text-slate-200 p-text pb-5">Our multi-engine training program is designed to prepare you to operate complex aircraft with multiple engines. Our expert instructors will guide you through advanced systems and procedures, including engine management, emergency procedures, and more. With our advanced training program, you'll have the skills and confidence to fly multi-engine aircraft with ease.</p>
          <%#= link_to "MULTI ENGINE TRAINING", root_path, class: "btn-primary bg-slate-500 hover:bg-slate-400 text-base" %>
        </div>
      </div>

      <div class="flex flex-row-reverse md:contents">
        <div class="w-full col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto bg-ideal-blue">
          <h3 class="font-semibold text-xl mb-1 text-white">Certified Flight Instructor (CFI)</h3>
          <p class="text-slate-200 p-text pb-5">Pass on your knowledge and skills to future pilots and build time and experience. Our comprehensive training program will equip you with the knowledge and skills needed to become a competent and confident flight instructor. Our experienced instructors will provide you with the tools you need to prepare future pilots for their Private Pilot, Commercial, and Instrument Rating certificates.</p>
          <%#= link_to "CFI TRAINING", root_path, class: "btn-primary bg-slate-500 hover:bg-slate-400 text-base" %>
        </div>

        <div class="col-start-5 col-end-6 md:mx-auto hidden md:block relative mr-10">
          <div class="h-full w-6 flex items-center justify-center">
            <div class="h-full w-0.5 bg-ideal-blue pointer-events-none"></div>
          </div>

          <div class="w-6 h-6 absolute top-1/2 -mt-3 border-2 border-ideal-blue rounded-full bg-ideal-blue shadow"></div>
        </div>
      </div>
    </div>
  </div>

</section>