<section class="bg-gradient-to-t from-ideal-blue to-ideal-blue-dark pb-20">
  <h3 class="text-3xl font-semibold pb-10 font-sans mx-5 text-center text-slate-50 pt-10">What Our Students Say</h3>

  <!--1st set-->
  <div class="relative flex flex-row overflow-x-hidden ">
    <div class="flex flex-row gap-10 lg:animate-marquee animate-marqueemobile ml-10">
      <div class="flex-shrink-0 flex flex-col justify-between bg-slate-50 p-text rounded-xl w-1/3 lg:w-1/4 h-80 py-5 px-5 ">
        <p>I did a discovery flight with Steve. He was incredibly welcoming, positive, optimistic, encouraging, all the good stuff. The facilities were great, the aircraft in great shape.</p>
        <div class="">
          <p>Alex A</p>
          <p class="text-yellow-600">★★★★★</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-slate-50 p-text rounded-xl w-1/3 lg:w-1/4 h-80 py-5 px-5 ">
        <p>Had a discovery flight today with Micheal. It was a wonderful experience I definitely recommend it!</p>
        <div class="">
          <p>Natalia V</p>
          <p class="text-yellow-600">★★★★★</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-slate-50 p-text rounded-xl w-1/3 lg:w-1/4 h-80 py-5 px-5 ">
        <p>I love flying at Ideal and it's a truly wonderful flight school!</p>
        <div class="">
          <p>Stacie S</p>
          <p class="text-yellow-600">★★★★★</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-slate-50 p-text rounded-xl w-1/3 lg:w-1/4 h-80 py-5 px-5 ">
        <p>The people that work there are very nice and helpful And make it a very relaxing atmosphere</p>
        <div class="">
          <p>Don B</p>
          <p class="text-yellow-600">★★★★★</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-slate-50 p-text rounded-xl w-1/3 lg:w-1/4 h-80 py-5 px-5 ">
        <p>Great instructors, nice facilities. Highly recommended</p>
        <div class="">
          <p>Blake V</p>
          <p class="text-yellow-600">★★★★★</p>
        </div>
      </div>
    </div>

    <!--second set-->
    <div class="flex flex-row overscroll-none gap-10 absolute top-0 lg:animate-marquee2 lg:animate-marquee2 animate-marquee2mobile ml-10">
      <div class="flex-shrink-0 flex flex-col justify-between bg-slate-50 p-text rounded-xl w-1/3 lg:w-1/4 h-80 py-5 px-5 ">
        <p>I did a discovery flight with Steve. He was incredibly welcoming, positive, optimistic, encouraging, all the good stuff. The facilities were great, the aircraft in great shape.</p>
        <div class="">
          <p>Alex A</p>
          <p class="text-yellow-600">★★★★★</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-slate-50 p-text rounded-xl w-1/3 lg:w-1/4 h-80 py-5 px-5 ">
        <p>Had a discovery flight today with Micheal. It was a wonderful experience I definitely recommend it!</p>
        <div class="">
          <p>Natalia V</p>
          <p class="text-yellow-600">★★★★★</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-slate-50 p-text rounded-xl w-1/3 lg:w-1/4 h-80 py-5 px-5 ">
        <p>I love flying at Ideal and it's a truly wonderful flight school!</p>
        <div class="">
          <p>Stacie S</p>
          <p class="text-yellow-600">★★★★★</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-slate-50 p-text rounded-xl w-1/3 lg:w-1/4 h-80 py-5 px-5 ">
        <p>The people that work there are very nice and helpful And make it a very relaxing atmosphere</p>
        <div class="">
          <p>Don B</p>
          <p class="text-yellow-600">★★★★★</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-slate-50 p-text rounded-xl w-1/3 lg:w-1/4 h-80 py-5 px-5 ">
        <p>Great instructors, nice facilities. Highly recommended</p>
        <div class="">
          <p>Blake V</p>
          <p class="text-yellow-600">★★★★★</p>
        </div>
      </div>
    </div>
  </div>
</section>