<header class="flex flex-row items-center justify-center gap-5 lg:gap-10 bg-gradient-to-t from-sky-300 to-slate-100 px-3 py-5">
  <%= image_tag "simplifly_250.webp", alt: "SimpliFly Logo", class: "lg:w-32 w-20"%>
  <h1 class="font-bold lg:text-5xl text-3xl font-header uppercase ">New Pilot Registration</h1>
</header>
