<%= render "header_registration"%>

<div class="flex flex-col w-full items-center bg-gradient-to-b from-sky-50 to-slate-50">
  <div class="max-w-4xl w-full lg:h-screen-4/5 px-5 pb-5 flex flex-col items-center justify-between">
    <div class="flex flex-col items-center">
      <h1 class="font-bold text-4xl py-10 text-center">Your registration form has been received!</h1>
      
      <!--Container for check-->
      <div class="flex flex-row justify-center">
        <!--circle of check-->
        <div class="bg-blue-200 rounded-full py-3 px-4 mb-10">
          <!--check itself-->
          <div class="text-sky-500 text-5xl">✓</div>
        </div>
      </div>
      
      
    
      
      <p class="px-5 lg:px-44 p-text text-center">
      We are looking forward to working with you soon.  We will review your registration details and set up a meeting to discuss your training plan.  <br><br>
      You can also call us at <%=link_to "1-480-256-8355", "tel:1-480-256-8355" %> or email us at <%= mail_to 'info@simpliflyco.com', class: "text-slate-800 hover:underline"%> if you'd like to speak to a SimpliFly team member.
      </p>
    </div>
    <div class="w-full mt-10">
      <%= render "shared/bottom_footer"%>
    </div>
  </div>
</div>