<%= render "shared/header"%>

<header class="w-full bg-thumbs bg-cover h-screen-1/2 lg:h-screen-4/5 bg-center flex justify-center items-center">
  <div class="flex flex-col w-full">
      <h1 class="font-semibold text-[12rem] font-header text-right uppercase outline-letters pr-10 pt-10 hidden lg:block">Why Simplifly?</h1>
      <h1 class="font-semibold text-7xl font-header text-right uppercase text-white outline-letters-sm pr-5 lg:hidden">Why Simplifly?</h1>
  </div>
</header>

<%= render "shared/footer"%>