<p>Dear <%=@book_download.name%>, 

<p>Thank you for requesting our free booklet on how to become a pilot.  We'll reach out to you shortly to say hello and introduce ourselves.</p>

<p>You can download the book by clicking <a href="https://drive.google.com/file/d/1SXThgVPuL6vYNizMCvarDBAY0XTy5BNI/view?usp=share_link">here</a>.</p>

<p>At Ideal Aviation, we are committed to providing the best possible aviation education and training. We offer a variety of programs and courses designed to meet the needs of both aspiring pilots and experienced aviators.</p>

<p>If you are interested in pursuing a career as a pilot, we offer comprehensive training programs that will help you achieve your goals. Our programs cover everything from private pilot certification to advanced training in commercial aviation.</p>

<p>Whatever your goals may be, we are confident that we can help you achieve them. If you have any questions about our programs, please don't hesitate to contact us.</p>

<p>
The team at Ideal Aviation<br>
1-618-350-4408<br>
info@idealaviationstl.com<br>
</p>
<br>
<br>
  -------- Your Form Submission Details --------
<br>
<br>
Name: <%=@book_download.name%><br>
Phone: <%=@book_download.phone%><br>
Email: <%=@book_download.email%><br>