<%= render "header"%>

<div class="flex flex-col w-full items-center bg-gradient-to-b from-sky-50 to-slate-50">
  <div class="max-w-4xl w-full px-5 pb-5">
    <iframe
      src="https://msg.flightschoolcrm.com/widget/form/tvEzMII5FHfgPOk69nrP"
      style="width:100%;height:100%;border:none;border-radius:3px"
      id="inline-tvEzMII5FHfgPOk69nrP" 
      data-layout="{'id':'INLINE'}"
      data-trigger-type="alwaysShow"
      data-trigger-value=""
      data-activation-type="alwaysActivated"
      data-activation-value=""
      data-deactivation-type="neverDeactivate"
      data-deactivation-value=""
      data-form-name="Reimbursement Form"
      data-height="1125"
      data-layout-iframe-id="inline-tvEzMII5FHfgPOk69nrP"
      data-form-id="tvEzMII5FHfgPOk69nrP"
      title="Reimbursement Form"
      >
</iframe>
<script src="https://msg.flightschoolcrm.com/js/form_embed.js"></script>
    <%= render "shared/bottom_footer"%>
  </div>
</div>
