<%= render "header"%>

<div class="flex flex-col w-full items-center bg-gradient-to-b from-sky-50 to-slate-50">
  <div class="max-w-4xl w-full px-5 pb-5">
    <%= render "form", reimbursement: @reimbursement %>
    <%= render "shared/bottom_footer"%>
  </div>
</div>
