<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  <style>
  
  body {
  font-family: sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gap-10 {
  gap: 2.5rem; /* You can adjust this value as needed */
}

.bg-gradient-to-t {
  background: -webkit-linear-gradient(top, var(--color-sky-300), var(--color-slate-100));
  background: linear-gradient(to top, var(--color-sky-300), var(--color-slate-100));
}

.from-sky-300 {
  --color-sky-300: #7dd3fc; /* Your sky-300 color value here */
}

.to-slate-100 {
  --color-slate-100: #f1f5f9; /* Your slate-100 color value here */
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.font-bold {
  font-weight: bold;
}

.text-5xl {
  font-size: 3.125rem; /* You can adjust this value as needed */
}

.text-3xl {
  font-size: 1.875rem;
}

.font-header {
  font-family: 'Kanit', sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.max-w-4xl {
  max-width: 64rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.w-half {
  width: 50%;
}

.block {
  display: block;
}

.outline-none {
  outline: none;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.w-full {
  width: 100%;
}

.text-slate-500 {
  color: #64748b;
}

.bg-slate-100 {
  background-color: #f1f5f9;
}

.rounded-md {
  border-radius: 0.375rem; /* You can adjust this value as needed */
}

.pt-5 {
  padding-top: 1.25rem;
}

.w-eighth {
  width: 12.5%;
}

.w-threeeight {
  width: 37.5%;
}

.w-64 {
  width: 16rem; /* You can adjust this value as needed */
}

.w-24 {
  width: 6rem; /* You can adjust this value as needed */
}

.pt-2 {
  padding-top: 0.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.w-half {
  width: 50%;
}

.border-t {
  border-top: 1px solid;
}

.border-black {
  border-color: black;
}

.text-slate-700 {
  color: #334155;
}

.w-32 {
  width: 8rem; /* You can adjust this value as needed */
}

  </style>
  <!-- Google Fonts: Kanit -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap">
  <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap">
  <noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap">
  </noscript>

</head>
<body>
  <%= yield %>
</body>
</html>
